@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.zeta{
    padding: 16px;
}
.movement-table .grid{
    border: 1px solid #e3e3e3;
    border-bottom: 1px solid #E84142;
    margin-bottom: 4px;
}
.movement-table .grid:last-child{
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.movement-table .table-header{
  border-bottom: 2px solid black;
}
